html,
body {
  @apply h-full overflow-hidden;

}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(var(--color-secondary-50)) !important;
}

@font-face {
  font-family: 'Vidaloka', serif;
  src: url('/fonts/Vidaloka-Regular.ttf');
}

.svg-top {
  background-image: url('/flower1.svg');
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: left top;
  background-blend-mode: soft-light;
  margin-top: 5%;

}

.svg-bottom {
  background-image: url('/flower2.svg');
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-blend-mode: soft-light;
  margin-bottom: 5%;
}

@media screen and (max-width: 600px) {
  .svg-top {
    background-image: url('/flower2.svg');
    background-size: 50%;
    background-position: right top;
  }

  .svg-bottom {
    background-size: 15%;
    background-image: url('/flower1.svg');
    background-position: left bottom;
  }
}

@media screen and (min-width: 1200px) {
  .background-img {
    background-position: 0px -400px !important;
    background-image: url("/images/lakedistrict.png") !important;
  }
}


:root {
  --theme-font-family-base: sans-serif;
  --theme-font-family-heading: 'Vidaloka', sans-serif;
}

.example-primary {
  color: #d59d4a;
}

.example-secondary {
  color: #f5f4f0
}

.example-tertiary {
  color: #000000;
}

.example-success {
  color: #ff8080;
}

.example-warning {
  color: #EAB308;
}

.example-error {
  color: #ff8080;
}

/* primary | #d59d4a */
/* secondary | #f5f4f0 */
/* tertiary | #000000 */
/* success | #ff8080 */
/* warning | #EAB308 */
/* error | #ff8080 */